:root {
    --padding20: 8px 20px;
    --grigioSfondo:  rgb(180 184 184);
    --testoGrigio: rgb(102 105 105);
    --colScrollBar: #c8c8c8;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                                                /* STRUTTURA PAGINA */
#app {
    height: 100vh;
}

header {
    height: 150px;
    background-color: rgb(12, 71, 71);
}

main {
    height: calc( 100% - 150px);
    background-color: #7c7c7c;
}

.main-content {
    height: 90%;
    width: 65%;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
                                            /* CLASSI IN COMUNE HEADER  */
.left-content, .right-content {
    height: 100%;
}
.header-content {
    height: 70px;
    /* border-bottom: 1px solid black; */
    background-color: var(--grigioSfondo);
    display: flex;
    justify-content: space-between;
}


                                            /* LEFT CONTENT */
.left-content {
    width: 37%;
    /* border: 1px solid black;        BORDO DA RIMUOVERE */
}

                                            /* HEADER CONTENT */

/* header-content definita sopra  */ 

.profilo-content {
    height: 100%;
    background-color: var(--grigioSfondo);
    padding: 8px 15px;
}
.profilo-img {
    height: 100%;
    display: flex;
    gap: 15px;
}
.myImg {
    height: 53px;
    width: 53px;
    border-radius: 50%;
    overflow: hidden;

}
.myImg img {
    width: 100%;
}

.my-name {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.profilo-info {
    padding: var(--padding20);
    display: flex;
    align-items: center;
    color: var(--testoGrigio);
    font-size: 20px;
    display: flex;
    gap: 20px;
}
.profilo-info i {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}
.profilo-info i:hover {
    opacity: 1;
}
                                            /* FINE HEADER CONTENT */


                                            /* NOTIFICATION CONTENT */
.notification-content {
    height: 100px;
    background-color: #70b2ff;
    display: flex;
    align-items: center;
    padding: var(--padding20);
    gap: 10px;
}

.icon-content {
    height: 80%;
    width: 67px;
    background-color: #ebe2e2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #70b2ff;
}
.notification-content .message-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notification-content .message-content a {
    color: rgb(221 217 217);
    opacity: 0.7;
    transition: opacity 0.2s;
    width: fit-content;
}
.message-content a:hover {
    opacity: 1;
}
                                            /* FINE NOTIFICATION CONTENT */


                                            /* INPUT SEARCH CONTENT */
.input-search-content {
    height: 45px;
    background-color: var(--grigioSfondo);
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.search-content {
    width: 50px;
    height: 79%;
}
.search-content label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--grigioSfondo);
    background-color: white;
    color: var(--testoGrigio);
    cursor: pointer;
}
.input-content {
    height: 80%;
    width: 86%;
}
.input-content input {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}
     
                                            /* FINE INPUT SEARCH CONTENT */


                                            /* MY CHAT CONTENT */
.my-chat-content {
    height: calc(100% - 70px - 100px - 45px );
    background-color: #dde1eb;
    overflow-y: scroll;
}
.my-chat-content::-webkit-scrollbar {
    width: 10px;
    background: var(--colScrollBar);
    /* border-radius: 10px; */
}
.my-chat-content::-webkit-scrollbar-track {
    background: var(--grigioSfondo);
    border-radius: 10px;
}
.my-chat-content::-webkit-scrollbar-thumb{
    background: #ffffffc7;
  /* border-radius: 10px; */
}
.my-chat-content::-webkit-scrollbar-thumb:hover {
  background: #a50b0b;
}

.box-chat {
    height: calc(100% / 6);
    display: flex;
    align-items: center;
    padding: var(--padding20);
    gap: 20px;
    position: relative;
}
.box-active {
    background-color: rgb(158 161 161);
}

.chat-image {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    overflow: hidden;
}
.chat-image img {
    width: 100%;
}
.chat-info {
     height: 85%;
     display: flex;
     flex-direction: column;
     color: var(--testoGrigio);
}
.chat-info .chat-name {
    font-size: 18px;
}
.chat-info .chat-message {
    font-size: 14px;
}
.chat-date {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 13px;
    color: var(--testoGrigio);
}

                                            /* FINE MY CHAT CONTENT */

                                            /* FINE LEFT CONTENT */



                                            /*  RIGHT CONTEN */
.right-content {
    width: 63%;
    border-left: 1px solid var(--colScrollBar);
}
                                            /* MESSAGE CHAT CONTENT */
.message-chat-content {
    height: calc(100% - 70px - 70px);
    background-color: rgb(202, 167, 102);
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
    padding: 50px;
}

.message-chat-content::-webkit-scrollbar {
    width: 10px;
    background-color: lightgray;
}
.message-chat-content::-webkit-scrollbar-track {
    background-color:var(--grigioSfondo);
    /* border-radius: 10px; */
}
.message-chat-content::-webkit-scrollbar-thumb{
    background-color: rgb(136, 136, 136);
    border-radius: 10px;
    transition: all 3s ease-in-out;
}
.message-chat-content::-webkit-scrollbar-thumb:hover {
  cursor:pointer;
  background-color: rgb(156, 156, 156);
}

.message-chat-content .chat-content {
    margin-bottom: 10px;
}


.message-chat-content .chat-message {
    padding: 12px 20px 23px 17px;
    border-radius: 15px;
    display: inline-block;
    width: 300px;
    position: relative;
} 

/* UTILIZZANDO FLOAT E CLEARFIX */
/* <div class="chat-content clearfix">
    <span class="chat-message inviato">Ciao come stai??</span>
</div>
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
  .chat-message : word-wrap: break-word;
.ricevuto {
    float: left;
    background-color: white;
}

.inviato {
    float: right;
    background-color: rgb(166, 221, 121);
} */

/* UTILIZZO FLEX E GIOCO CON START & END */

.message-chat-content .chat-content {
    display: flex;
}
.message-chat-content .inviato {
    display: flex;
    justify-content: flex-end;
}
.inviato span {
    background-color: rgb(166, 221, 121);
}

.message-chat-content .ricevuto {
    display: flex;
    justify-content: flex-start;
}
.ricevuto span {
    background-color: white;
}

.message-chat-content .chat-message-info {
    position: absolute;
    bottom: 4px;
    right: 0px;
    font-size: 12px;
}
.chat-message-info i {
    transform: rotate(-13deg);
}
.chat-message-info i.second {
    transform: rotate(-13deg) translateX(-9px) translateY(-2px);
}
/* .chat-message-info i:hover {
    color: #70b2ff;
} */

                                            /* FINE MESSAGE CHAT CONTENT */
                                            /* SEND MESSAGE CONTENT  */
.send-message-content {
    height: 70px;
    background-color: var(--grigioSfondo);
}

.message-options {
    height: 100%;
    padding: var(--padding20);
    display: flex;
    align-items: center;
}

.emoji, .message-options .message-content, .send-message {
    height: 85%;
}
.emoji, .send-message {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--testoGrigio);
}
.emoji i, .send-message i {
    cursor: pointer;
    transition: all 0.4s ease;
}
.emoji i:hover, .send-message i:hover {
    color: #969393;
}
.message-options .message-content {
    width: 80%;
}

.message-options .message-content input {
    height: 100%;
    padding: 10px;
}


/* gestire i messaggi inviati e ricevuti */