<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Replica di Whatsapp con Vue.js da cdn</title>
</head>
<body>
    <div id="app">
        <header></header>
        <main>
            <div class="main-content">
                <!-- LEFT CONTENT -->
                <div class="left-content">
                    <!-- HEADER CONTENT -->
                    <div class="header-content">
                        <div class="profilo-content">
                            <div class="profilo-img">
                                <div class="myImg">
                                    <img src="img/foto_profilo_arancio.jpg" alt="immagine profilo">
                                </div>
                                <div class="my-name">
                                    <span><strong>Pavel</strong></span>
                                </div>
                            </div>
                        </div>

                        <div class="profilo-info">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- FINE HEADER CONTENT -->

                    <!-- NOTIFICATION CONTENT -->
                    <div class="notification-content">
                        <div class="icon-content"><i class="fa-solid fa-bell-slash"></i></div>
                        <div class="message-content">
                            <span>Ricevi Notifiche di nuovi messaggi</span>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- FINE NOTIFICATION CONTENT -->

                    <!-- INPUT SEARCH CONTENT -->
                    <div class="input-search-content">
                        <div class="search-content">
                            <label class="form-control" for="searchInput"><i class="fa-solid fa-magnifying-glass"></i></label>
                        </div>
                        <div class="input-content">
                            <input
                              class="form-control" type="text" id="searchInput" placeholder="Cerca o inizia una nuova chat" v-model="searchInput" @keyup="filtraChat">
                        </div>
                    </div>
                     <!-- FINE INPUT SEARCH CONTENT -->

                     <!-- MY CHAT CONTENT -->
                    <div class="my-chat-content">

                        <div :class="{'box-active' : index == activeObj}" 
                        class="box-chat" v-for="(contact, index) in filtraChat()" :key="contact.id" @click="selezionaChat(contact.id)">
                            <div class="chat-image">
                                <img :src="'img/' + contact.immagine" alt="">
                            </div>
                            <div class="chat-info">
                                <span class="chat-name" style="color: black;"><strong>{{contact.nome}}</strong></span>
                                <span class="chat-message">
                                    {{contact.message[contact.message.length -1].content.slice(0, 20)}}
                                    <span v-if="contact.message[contact.message.length -1].content.length > 10">...</span>
                                </span>
                            </div>
                            <div class="chat-date">
                                <span>{{contact.message[contact.message.length -1].date}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- FINE MY CHAT CONTENT -->
                </div>
                <!-- FINE LEFT CONTENT -->


                <!-- RIGHT CONTENT -->
                <div class="right-content">
                    <!-- HEADER CONTENT -->
                    <div class="header-content">
                        <div class="profilo-content">
                            <div class="profilo-img">
                                <div class="myImg">
                                    <img :src="'img/' + filtraChat()[activeObj].immagine" :alt="filtraChat()[activeObj].nome">
                                </div>
                                <div class="my-name">
                                    <span style="color: black;"><strong>{{filtraChat()[activeObj].nome}}</strong></span>
                                    <span v-if="dataAttiva.data && dataAttiva.ora" style="color: var(--testoGrigio);">
                                        Ultimo accesso il {{dataAttiva.data}}
                                         alle {{dataAttiva.ora}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="profilo-info">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- FINE HEADER CONTENT -->

                    <!-- MESSAGE CHAT CONTENT -->
                    <div class="message-chat-content">


                        <div class="chat-content inviato" :class="mess.status == 'inviato' ? 'inviato' : 'ricevuto' "
                            v-for="(mess, index) in filtraChat()[activeObj].message">
                            <span class="chat-message">
                                {{mess.content}}
                                <span class="chat-message-info" 
                                    style="color:var(--testoGrigio)">{{mess.date}}
                                    <!-- if se il messaggio è inviato -->
                                    <span v-if="mess.status == 'inviato'">
                                        <i class="fa-solid fa-check"></i>
                                        <i class="fa-solid fa-check second"></i>
                                    </span>
                                </span>
                            </span>
                        </div>

                        
                       




                    </div>
                     <!-- FINE MESSAGE CHAT CONTENT -->

                     <!-- SEND MESSAGE -->
                    <div class="send-message-content">
                        <div class="message-options">
                            <div class="emoji"><i class="fa-regular fa-face-smile"></i></div>

                            <div class="message-content">
                                <input class="form-control" type="text" placeholder="Scrivi un messaggio">
                            </div>

                            <div class="send-message"><i class="fa-regular fa-paper-plane"></i></i></div>
                        </div>
                    </div>
                    <!-- FINE SEND MESSAGE -->
                </div>
            </div>

        </main>

    </div>
    


    <script src="js/index.js"></script>
</body>
</html>